.header {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--hero-color);
  border-bottom: 1px solid #ececec;
  margin-left: auto;
  margin-right: auto;

  // 320 //
  @media screen and (min-width: 320px) and (max-width: 767px) {
    position: relative;
    padding: 16px 15px;
    position: relative;
  }

  // 768 //
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 21px 15px;
  }

  .header__conteiner {
    display: flex;
    max-width: 1200px;
  }

  .header__adress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 25px;

    // 320
    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
    }

    // 768
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-direction: column;
      margin-right: 0;
    }
  }
}

.header__nav {
  display: flex;
  align-items: center;

  .header__list {
    display: flex;

    // 320
    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
    }
  }
}

.header__item {
  @extend %text;
  color: #212121;
  margin-left: 50px;
}

.adress__ithem {
  @extend %text;

  display: flex;
  flex-direction: row;
  align-items: center;
  color: #757575;
  line-height: 1.71;

  &:first-child {
    margin-right: 50px;
  }
  // 768
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:first-child {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 15px;
    }
  }
}

.current {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--title-text-color);

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -33px;

    width: 100%;
    height: 4px;
    color: var(--button-color);
    background: #2196f3;
    border-radius: 2px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      bottom: -39px;
    }
  }
}

.adress__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--ithem-text-color);
}

.icon-mail {
  align-items: flex-start;
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
    width: 14px;
  }
}

.icon-phone {
  justify-self: start;
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
    height: 14px;
  }
}

// MODAL____MOBILE \\\\\\
.mobile__btn--open {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile__btn--open {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: 0;
    background-color: #fff;
  }

  .mobile.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .mobile {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0%;
    background-color: #fff;
    z-index: 2;

    padding: 48px 0 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile__conteiner {
    width: 100%;
  }

  .mobile__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: 0;
    background-color: #fff;
  }

  .mobile__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #212121;
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 202px;
    }
  }

  .current__mobile {
    color: var(--button-color);
  }
}
.mobile__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--button-color);
}

.mobile__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: var(--ithem-text-color);
}
.mobile__adress--ithem {
  margin-bottom: 32px;
}

.mobile__social--list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 32px;
}

.mobile__social--link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;

  color: #2196f3;
}

.mobile__social--ithem {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
