.overlay {
  position: relative;
  overflow: hidden;
}

.conteiner__overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  text-align: start;
  opacity: 1;

  bottom: 0;
  right: 0;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .progects__list:hover & {
    transform: translateY(0);
    opacity: 1;
  }
}

.text__overlay {
  max-width: 322px;
  margin: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
