.works {
  display: flex;
  justify-content: center;
}

.work__photo {
  position: relative;
  margin-left: 30px;

  &:first-child {
    margin-left: 0;
  }
}

.work__text {
  position: absolute;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  bottom: 27px;
  right: 82px;
  color: #fff;
  text-transform: uppercase;
}

.work__fon {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
