.button {
  box-sizing: border-box;
  display: inline-block;
  font-family: inherit;
  background: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: none;

  transition: box-shadow 250ms, background 250ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background: #188ce8;
  }
}

.button-ithem {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;

  transition: color 250ms, background-color 250ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #f5f4fa;
  }
}
