.form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form input {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 12px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: outline 250ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border: 1px solid var(--button-color);
    outline: 1px solid var(--button-color);
  }
}

.modal__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--prymary-text-color);
}

.modal__icon {
  position: absolute;
  display: inline-flex;
  top: 8px;
  right: 8px;
  fill: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  color: var(--title-text-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: currentColor;
  }
}

.form__icon {
  position: absolute;
  display: inline-flex;
  top: 28px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  color: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__input:focus + &,
  .form__input:hover + & {
    fill: currentColor;
    color: var(--title-text-color);
  }
}

textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  transition: border 250ms, outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--button-color);
    outline: var(--title-text-color);
  }

  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox label {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__icon {
  display: block;
  width: 16px;
  height: 15px;
  background-color: #fff;
  border: 2px solid var(--prymary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox__input:checked + .checkbox__lable & {
    background-color: var(--title-text-color);
    fill: #fff;
    border: transparent;
    transition: background-color 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.checkbox__lable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__text {
  border-bottom: 1px solid var(--button-color);
  color: #2196f3;
  margin-left: 2px;
  font-size: 14px;
  line-height: 14px;
}

.modal__btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
