.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;

  transition: opacity 250ms, visibility 250ms;

  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
